.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 2px 2px 5px rgba($color: #7e7b7b, $alpha: 1);
  .logo-link {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  .nav-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-links {
      color: #000;
      font-weight: bold;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
